<img src="Airbnb_Logo1.png" width="300" height="100">

### Capstone Project 
#### Project Title: Using Machine Learning to develop a recommendation system for London neighbourhoods
#### Student Name: Zinia Bhattacharya
#### Notebook 1 - Data Preprocessing & EDA

### Context:<br>

Airbnb currently has a number of features to help personalize the property based on guest requirements e.g.<br>
- Price range
- Type of stay and property (Entire apartment/private room etc or House/Flat/Guest House etc)
- Number of rooms & beds
- Amenities
- Host details

For listings and experiences in the countryside, Airbnb also provides additional recommendations to personalize one's stay e.g. Vineyards, Farms, Countryside, Surfing, Lakes, Beaches, Designer homes, Tiny homes etc.
**However, when it comes to city stays, currently consumers are shown all available properties on a map without any location recommendations or filters</mark>.** <br>

Potential airbnb guests have to scroll through comments to get a 'feel' of the neighbourhood or, they need to research separately about the suitability of the location, before narrowing down on a property. Looking at Google Search trends, searches around 'Where to stay in London' have an average relative popularity score of 70. For comparison, Goggle's own relative score is 91 and Amazon is approx 72 in the United in the same time period of last 1 year. So evidently, people are seeking this information to guide their decision on where to stay in London during their visit.

Adding such recommendation to the Airbnb site, can enhance the user-experience without the guest having to leave the Airbnb ecosystem for location guidance. It can also pave the way for sustainable tourism and drive tourism revenue for ‘under-the radar’ neighbourhoods and ease tourist overcrowding in central London <br>

This recommendation system also has the potential to be extended to other short-term rental booking sites and hotels and expanded to other top cities globally

--------------------------------------------------------------------------

#### Data Source 1: insideairbnb

Data sourced from insideairbnb.com <br>
Date range : The data spans from 2011-2022 <br>
Data File : Listings <br>

**Data Dictionary**
The key columns in the dataset are as below:
Some of the columns do not have any data recorded and will be dropped prior to our analysis

| Column                             | Description                                                            |
| :---                               |    :----:                                                              |
| id                                 | Unique id for the specific property/listing                            |
| name                               | Name or short description of the property/listing                      |
| neighbourhood_overview             | Description of the neighbourhood in the listing                        |
| neighbourhood_cleansed             | The London borough, the listing is located in                          |
| latitude                           | Latitude of the property location                                      |
| longitude                          | Longitude of the property location                                     |
| minimum_nights                     | The minimum required nights for booking                                |
| property_type                      | The type of the rental property, Entire home or Private room           |
| price                              | Average per night price of the listing                                 |
| review_scores_location             | Total number of current reviews of the property                        |
| suburb                             | Imputed value after reverse geo-coding against Latitude and Longitude  |

#### Data Source 2: ChatGPT as additional source to analyse the characteristics of different neighbourhoods in London
Using the said prompt on Chat GPT, we collated suburb_tags across top 100 suburbs in London:
*'Provide neighbourhood characteristics of the following suburbs in London'*

----------------------------------------------------------------------------------------------------------

#### Summary of the data pre-processing approach


The data pre-processing step was a critical part of the project due to the nature of the data required - `suburb` level data being key and the dataset did not come pre-populated with this.<br>

The key steps in the data-sourcing and data pre-processing stage were:

1) Identifying the right dataset from the inside airbnb source -Having evaluated a few different datasets, we finalized on the dataset used here as it provided a detailed level of data on the properties listed, key being `neighborhood_overview` which provides a short description of the neighborhood where the property is located <br>
2) The next step was to narrow down the dataset to include only relevant columns. As the purpose of the project was to identify neighborhood profiles and recommend properties accordingly, the key columns retained in the final dataset were related to the property location <br>
3) Imputing missing values for `name` and `review_scores_location` based on the property details that we could glean from the other columns - e.g. `name` details were completed by adding details from the property location and neighborhood overview and `review_scores_location` were filled in with average review scores for the corresponding London borough <br>
4) Reverse geocoding to map `suburb` names as per latitude and longitude - We used 'nominatim open street' to request for suburb names based on the property location. It returned values for all 40,605 listings barring 2619 of them where nominatim had no suburb details available
5) Inputing missing values for `suburbs` by requesting for `postcode` data and then manually mapping suburbs based on outer postcodes - The process for imputing missing `suburb` values was slightly time-consuming as we first went down the route of requesting for 'postcode' information which were then mapped to 'ward' level data for the 'City of London' borough as a test. However, the 'ward' level data was too narrow for the purposes of our project where the end objective is to profile and recommend broad 'suburbs' to the airbnb guests. We therefore changed the approach and looked at 'outer' level postcode e.g. BR2 in the postcode BR2 6AN to establish the suburbs against each postcode and map them against the relevant listing. For certain boroughs which are closely knit (e.g. City of London) or outer boroughs where the suburbs within are broadly similar (e.g. Richmond) we used the borough name as the `suburb` for the purposes of this project

In [2]:
#Importing the required packages

import numpy as np
import pandas as pd

# plotting
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import warnings
warnings.filterwarnings('ignore')

In [4]:
#Loading the dataset
df_listing_new= pd.read_csv("C:\\Users\\Zinia\\Documents\\capstone-project-ZiniaB\\Data\\inside airbnb\\listings_new.csv")

In [5]:
#Looking at the columns in the dataset
df_listing_new.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [6]:
# creating a new dataframe with only the relevant columns for the project

df = df_listing_new[['id','name', 'neighborhood_overview',
       'neighbourhood_cleansed', 'latitude',
       'longitude', 'minimum_nights','property_type', 'room_type','price','review_scores_location',
       ]]


#Host_neighbourhood same as neighbourhood_cleansed, so host_neighbourhood has been dropped

Google link to dataset: https://drive.google.com/file/d/1IM1CwhKhf1StfN7DCZ23Z_PDEWDo-D_D/view?usp=sharing

In [7]:
#viewing the dataframe
df.head()

,id,name,neighborhood_overview,neighbourhood_cleansed,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location
0,13913,Holiday London DB Room Let-on going,Finsbury Park is a friendly melting pot commun...,Islington,51.568610,-0.112700,1,Private room in rental unit,Private room,$79.00,4.71
1,15400,Bright Chelsea Apartment. Chelsea!,It is Chelsea.,Kensington and Chelsea,51.487800,-0.168130,10,Entire rental unit,Entire home/apt,$75.00,4.93
2,172811,Nice double bedroom in NW London,NaN,Camden,51.547100,-0.179810,21,Entire rental unit,Entire home/apt,$229.00,NaN
3,173082,The Residential Suite Above Gallery,"The neighbourhood ""Victoria Park Village"" is a...",Hackney,51.538254,-0.044086,2,Entire rental unit,Entire home/apt,$132.00,4.68
4,42010,You Will Save Money Here,We have a unique cinema called the Phoenix whi...,Barnet,51.585900,-0.164340,4,Private room in home,Private room,$65.00,4.72

In [8]:
#details of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71938 entries, 0 to 71937
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      71938 non-null  int64
 1   name                    71914 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   neighbourhood_cleansed  71938 non-null  object
 4   latitude                71938 non-null  float64
 5   longitude               71938 non-null  float64
 6   minimum_nights          71938 non-null  int64
 7   property_type           71938 non-null  object
 8   room_type               71938 non-null  object
 9   price                   71938 non-null  object
 10  review_scores_location  53807 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 6.0+ MB

In [9]:
#To check if there are any duplicated rows
df.duplicated().sum()
print(f" There are {df.duplicated().sum()} duplicate rows in df_listing")

 There are 0 duplicate rows in df_listing

In [10]:
#Checking the null values in the dataset
df.isna().sum()

id                            0
name                         24
neighborhood_overview     31333
neighbourhood_cleansed        0
latitude                      0
longitude                     0
minimum_nights                0
property_type                 0
room_type                     0
price                         0
review_scores_location    18131
dtype: int64

In [11]:
# Looking at the `neighborhood_overvew` column closely to see what kind of descriptions are provided for the property neighbourhood 
df['neighborhood_overview'].head(10)

0    Finsbury Park is a friendly melting pot commun...
1                                       It is Chelsea.
2                                                  NaN
3    The neighbourhood "Victoria Park Village" is a...
4    We have a unique cinema called the Phoenix whi...
5    Location, location, location! You won't find b...
6    The neighborhood of Holland Park borders Notti...
7    The area is called Munster village.  It has a ...
8    It's a really safe and friendly neighbourhood....
9                                                  NaN
Name: neighborhood_overview, dtype: object

Our main column of interest is `Neighbourhood Overview` as it outines the description of the neighbourhood as provided by the host. Therefore, we cannot analyse neighbourhoods and property locations that have no descriptions against them. We will hence go ahead and drop the 31333 rows that have null values in `Neighbourhood Overview`. We will still have 40,000 + rows in our dataset to analyze neighbourhood descriptions in London

In [12]:
#dropping the rows with null values in `neighborhood_overview`
df.dropna(subset=['neighborhood_overview'], inplace=True)

In [13]:
#checking if the specified columns have been dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40601 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   neighbourhood_cleansed  40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  33645 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 3.7+ MB

We can see that there are still null values in `name` and `review_scores_location` column. We will fill them with relevant values in the the next few steps

In [14]:
#looking at the `name` column null values more closely
df[df['name'].isna()]

,id,name,neighborhood_overview,neighbourhood_cleansed,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location
1406,1346531,NaN,"Situated in hip, lively Dalston there is a ple...",Hackney,51.54790,-0.06752,2,Entire rental unit,Entire home/apt,$80.00,4.65
8506,9859465,NaN,Clerkenwell is a vibrant area with many restau...,Islington,51.52465,-0.09624,4,Entire rental unit,Entire home/apt,$120.00,NaN
8619,9833194,NaN,Clapham Common provides an oasis of peace amid...,Lambeth,51.45238,-0.12921,2,Private room in rental unit,Private room,$36.00,NaN
12866,14051483,NaN,- Area: The flat is located 2min by walk away ...,Lambeth,51.47023,-0.12353,1,Private room in rental unit,Private room,$20.00,NaN

In [15]:
#Imputing NaNs in the 'Name' coulumn with a short description of the property type and neighbourhood from the other columns

df.loc[1406,['name']]=['Entire home in Dalston']
df.loc[8506,['name']]=['Entire home in Clerkenwell']
df.loc[8619,['name']]=['Private room in Clapham Common']
df.loc[12866,['name']]=['Private room in Lambeth']

We can also see from the dataframe that `neighbourhood_cleansed` is the same as the borough name, so we will rename it for easier reference

In [16]:
#renaming `neighborhood_cleansed` to `London_borough`
df.rename(columns= {'neighbourhood_cleansed':'London_borough'}, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  33645 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 4.7+ MB

For `review_scores_location`, we will use the average scores to impute the missing values with the hypothesis that the scores for location are likely to be similar for properties within the same neighbourhood

In [18]:
#looking at the mean of the review_scores by London borough
df.groupby(['London_borough'])['review_scores_location'].mean()

London_borough
Barking and Dagenham      4.520340
Barnet                    4.675242
Bexley                    4.663934
Brent                     4.632068
Bromley                   4.743007
Camden                    4.830038
City of London            4.823320
Croydon                   4.599150
Ealing                    4.685341
Enfield                   4.642847
Greenwich                 4.685111
Hackney                   4.772441
Hammersmith and Fulham    4.757260
Haringey                  4.691287
Harrow                    4.715862
Havering                  4.700000
Hillingdon                4.709930
Hounslow                  4.669000
Islington                 4.804420
Kensington and Chelsea    4.846861
Kingston upon Thames      4.805115
Lambeth                   4.770315
Lewisham                  4.673356
Merton                    4.736242
Newham                    4.621683
Redbridge                 4.574313
Richmond upon Thames      4.856049
Southwark                 4.714687
Sutton                    4.787217
Tower Hamlets             4.709698
Waltham Forest            4.661732
Wandsworth                4.770639
Westminster               4.847887
Name: review_scores_location, dtype: float64

In [19]:
#filling missing values in `review_scores_location` column with the mean scores for that borough using 'transform' method
df["review_scores_location"] = df["review_scores_location"].fillna(df.groupby("London_borough")['review_scores_location'].transform('mean'))

In [90]:
#reverse geocoding to get suburb names based on latitude and longitude
#various versions of the code were attempted to get back the results without any error for addresses where 'suburb' was unknown. This version of the code returns the values for the full dataset
#commenting out the below code as it takes considerable time to run

# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="my_application")

# def get_suburb(row):
#     try:
#         location = geolocator.reverse((row['latitude'], row['longitude']))
#         address = location.raw['address']
#         suburb = address.get('suburb', '')
#     except:
#         pass
#     return suburb

# df['suburb'] = df.apply(get_suburb, axis=1)

C:\Users\Zinia\AppData\Local\Temp\ipykernel_16040\811935957.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['suburb'] = df.apply(get_suburb, axis=1)

In [91]:
# to check if the 'suburb' values had been returned
# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  40605 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 5.0+ MB

Saving cleaned DataFrame with no null-values and with suburb added - to csv

In [98]:

df.to_csv('C:\\Users\\Zinia\\Documents\\capstone-project-ZiniaB\\Data\\suburb_updated_withindex.csv',index=False)

In [101]:
joblib.dump(df,'../Data/df_suburb.pkl',compress =9)

['../Data/df_suburb.pkl']

In [20]:
#Loading df_suburb for to recheck before moving to EDA
df=joblib.load("C:\\Users\\Zinia\Documents\\capstone-project-ZiniaB\\Data\\df_suburb.pkl")

In [21]:
df.head()

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb
0,13913,Holiday London DB Room Let-on going,Finsbury Park is a friendly melting pot commun...,Islington,51.568610,-0.112700,1,Private room in rental unit,Private room,$79.00,4.71,Finsbury Park
1,15400,Bright Chelsea Apartment. Chelsea!,It is Chelsea.,Kensington and Chelsea,51.487800,-0.168130,10,Entire rental unit,Entire home/apt,$75.00,4.93,Chelsea
3,173082,The Residential Suite Above Gallery,"The neighbourhood ""Victoria Park Village"" is a...",Hackney,51.538254,-0.044086,2,Entire rental unit,Entire home/apt,$132.00,4.68,Homerton
4,42010,You Will Save Money Here,We have a unique cinema called the Phoenix whi...,Barnet,51.585900,-0.164340,4,Private room in home,Private room,$65.00,4.72,Hampstead Garden Suburb
5,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,"Location, location, location! You won't find b...",Westminster,51.521950,-0.140940,4,Entire rental unit,Entire home/apt,$425.00,4.88,Fitzrovia

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  40605 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.0+ MB

In [23]:
#Groupby sunurb to identify top100 suburbs by sorting value at the next stage. 
df.groupby(['suburb']).count()['id']

suburb
                  2619
Abbey Wood          33
Acton              346
Addiscombe          51
Albany Park          5
                  ...
Worcester Park      21
World's End        179
Worton              19
Yeading             15
Yiewsley            30
Name: id, Length: 397, dtype: int64

In [24]:
#above cell shows blank cells when grouped by 'suburb'.
# # Looking closer into the blank rows for suburbs
#It appears that at the time of reverse geo-coding, for rows where the 'suburb' information was not available on the nominatim website, it allocated an empty string. 
df[df['suburb']=='']

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb
27,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.534300,0.081780,2,Private room in rental unit,Private room,$69.00,4.440000,
45,41445,2 Double bed apartment in quiet area North London,Quite area popular with families,Barnet,51.614920,-0.256320,4,Entire rental unit,Entire home/apt,$550.00,4.530000,
64,318287,safe and spacious room in comfy family home,We are a cosmopolitan family in a lovely neigh...,Waltham Forest,51.616070,-0.029820,2,Private room in home,Private room,$29.00,4.450000,
95,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.406440,-0.335630,3,Entire serviced apartment,Entire home/apt,$170.00,4.940000,
164,343848,"Lovely double room in Oakwood, North London",It is a short walk to the local Sainsbury's su...,Enfield,51.650750,-0.118410,180,Private room in home,Private room,$41.00,4.610000,
...,...,...,...,...,...,...,...,...,...,...,...,...
71593,776521441063993062,one bedroom and a couch.,Very quiet and friendly.,Barnet,51.610528,-0.276035,1,Private room in rental unit,Private room,$73.00,4.675242,
71599,776668700186722169,Appartamento ad uso esclusivo,Tranquillo e ben collegato con il centro attra...,Waltham Forest,51.589243,-0.029610,1,Entire rental unit,Entire home/apt,$150.00,4.661732,
71714,776597925814980536,Lovely 2 Bedroom Garden Flat,Around the corner on Bellenden Road places lik...,Southwark,51.468649,-0.073742,3,Entire rental unit,Entire home/apt,$175.00,4.714687,
71801,776648991500097600,2BR Penthouse with Terrace in the Heart of Hol...,About the Holborn London Location: The Holborn...,City of London,51.517099,-0.111866,1,Entire rental unit,Entire home/apt,$259.00,4.823320,
71806,776649127954129181,Spacious 2-Bedroom Flat in London's Holborn,About the Holborn London Location: The Holborn...,City of London,51.517197,-0.109784,1,Entire rental unit,Entire home/apt,$222.00,4.823320,

In [25]:
#Creating a separate dataframe to populate the missing suburbs
df_missing=df[df['suburb']=='']

In [26]:
df_missing.shape

(2619, 12)

In [27]:
# As the suburb data was missing, we will ask for postcodes from the nominatim site to inform our broad estimate on suburb names.

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_application")

def get_postcode(row):
    try:
        location = geolocator.reverse((row['latitude'], row['longitude']))
        address = location.raw['address']
        postcode = address.get('postcode', '')
    except:
        pass
    return postcode

In [28]:
#Applying the postcides generated from the call to the df_missing dataframe as a separate column `postcode`
#commenting out this code it takes 20+ mins to run

# df_missing['postcode'] = df_missing.apply(get_postcode, axis=1)

In [29]:
df_missing.head(5)
#we can see that the postcode column has now been added to the df_missing dataframe

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
27,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.53430,0.08178,2,Private room in rental unit,Private room,$69.00,4.44,,IG11 7RQ
45,41445,2 Double bed apartment in quiet area North London,Quite area popular with families,Barnet,51.61492,-0.25632,4,Entire rental unit,Entire home/apt,$550.00,4.53,,NW7 3QA
64,318287,safe and spacious room in comfy family home,We are a cosmopolitan family in a lovely neigh...,Waltham Forest,51.61607,-0.02982,2,Private room in home,Private room,$29.00,4.45,,E4 8HB
95,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.40644,-0.33563,3,Entire serviced apartment,Entire home/apt,$170.00,4.94,,KT8 9BY
164,343848,"Lovely double room in Oakwood, North London",It is a short walk to the local Sainsbury's su...,Enfield,51.65075,-0.11841,180,Private room in home,Private room,$41.00,4.61,,EN2 7JP

In [30]:
df_missing.to_csv('C:\\Users\\Zinia\\Documents\\capstone-project-ZiniaB\\Data\\missingsuburbswithpostcode.csv', index = False)
#saving this as csv for back-up, in order to avoid making the request to nominatim again(without index)

In [31]:
#re-loading the csv file to continue with imputation of missing suburbs
df_missing = pd.read_csv('C:\\Users\\Zinia\\Documents\\capstone-project-ZiniaB\\Data\\missingsuburbswithpostcode.csv')

In [32]:
df_missing.head()

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
0,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.53430,0.08178,2,Private room in rental unit,Private room,$69.00,4.44,NaN,IG11 7RQ
1,41445,2 Double bed apartment in quiet area North London,Quite area popular with families,Barnet,51.61492,-0.25632,4,Entire rental unit,Entire home/apt,$550.00,4.53,NaN,NW7 3QA
2,318287,safe and spacious room in comfy family home,We are a cosmopolitan family in a lovely neigh...,Waltham Forest,51.61607,-0.02982,2,Private room in home,Private room,$29.00,4.45,NaN,E4 8HB
3,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.40644,-0.33563,3,Entire serviced apartment,Entire home/apt,$170.00,4.94,NaN,KT8 9BY
4,343848,"Lovely double room in Oakwood, North London",It is a short walk to the local Sainsbury's su...,Enfield,51.65075,-0.11841,180,Private room in home,Private room,$41.00,4.61,NaN,EN2 7JP

In [33]:
#Looking at the list of postcodes to be able to apply the closest suburb names. In most cases we will use the outer postcode to map the suburb name to the property e.g. BR2 from the BR2 6AN postcode
df_missing.groupby(['postcode']).groups.keys()

dict_keys(['BR2 6AN', 'BR6 7JF', 'BR6 7JS', 'BR6 7NG', 'CR0 0RA', 'CR0 0RR', 'CR0 1BD', 'CR0 1EY', 'CR0 1HN', 'CR0 1HT', 'CR0 5RA', 'CR0 5SP', 'CR2 0AH', 'CR2 0BL', 'CR2 0BZ', 'CR2 6HG', 'CR2 6JY', 'CR2 7EH', 'CR2 7EJ', 'CR2 7EP', 'CR2 7EW', 'CR2 7HH', 'CR2 7HJ', 'CR2 7HN', 'CR3 5QU', 'CR5 1AN', 'CR5 1BT', 'CR5 1DE', 'CR5 1HG', 'CR5 2AJ', 'CR5 2HX', 'CR5 3AB', 'CR5 3AG', 'CR5 3AP', 'DA14 5BA', 'DA14 5BB', 'DA18 4DR', 'DA7 4PP', 'E1 6AN', 'E1 7AW', 'E1 7DB', 'E1 7EG', 'E1 7EZ', 'E1 7HQ', 'E1 7HS', 'E1 7JF', 'E1 7JJ', 'E1 8AT', 'E1 8BZ', 'E1 8RB', 'E10 7QS', 'E11 1PL', 'E12 5DR', 'E12 5DY', 'E12 5SA', 'E16 2AA', 'E16 3LT', 'E16 3RN', 'E17 3AL', 'E17 3BB', 'E17 3BF', 'E17 3BL', 'E17 3DD', 'E17 3GX', 'E17 3HU', 'E17 3JE', 'E17 3JG', 'E17 3JH', 'E17 3LE', 'E17 3LG', 'E17 3LN', 'E17 3LX', 'E17 3PQ', 'E17 3PU', 'E17 3PY', 'E17 3QS', 'E17 3RA', 'E17 3TJ', 'E17 4JD', 'E17 4JF', 'E17 4NZ', 'E17 4PJ', 'E17 4PP', 'E17 4PX', 'E17 4QA', 'E17 4QZ', 'E17 4RQ', 'E17 4RU', 'E17 4SA', 'E17 4SD', 'E17 4SJ', 'E17 4SP', 'E17 4SQ', 'E17 4SR', 'E17 5BE', 'E17 5DP', 'E17 5DS', 'E17 5EP', 'E17 5FN', 'E17 5FS', 'E17 5HB', 'E17 5HD', 'E17 5HG', 'E17 5HH', 'E17 5JE', 'E17 5JN', 'E17 5JT', 'E17 5JX', 'E17 5JZ', 'E17 5LD', 'E17 5LL', 'E17 5LQ', 'E17 5LR', 'E17 5PB', 'E17 5QB', 'E17 5QH', 'E17 5QY', 'E17 5RH', 'E17 5RS', 'E17 6AG', 'E17 6AR', 'E17 6AS', 'E17 6AW', 'E17 6AZ', 'E17 6BB', 'E17 6BF', 'E17 6BH', 'E17 6BT', 'E17 6BU', 'E17 6DQ', 'E17 6DY', 'E17 6EE', 'E17 6EL', 'E17 6EN', 'E17 6EQ', 'E17 6ER', 'E17 6FF', 'E17 6GP', 'E17 6GS', 'E17 6GT', 'E17 6HA', 'E17 6HF', 'E17 6HL', 'E17 6HN', 'E17 6JA', 'E17 6JG', 'E17 6JQ', 'E17 6JT', 'E17 6JZ', 'E17 6LA', 'E17 6LD', 'E17 6LH', 'E17 6LJ', 'E17 6LS', 'E17 6LU', 'E17 6LY', 'E17 6NA', 'E17 6NH', 'E17 6NL', 'E17 6NP', 'E17 6NQ', 'E17 6NU', 'E17 6PD', 'E17 6PH', 'E17 6QB', 'E17 6QN', 'E17 6QQ', 'E17 6QS', 'E17 6QW', 'E17 6RY', 'E17 6SB', 'E17 6SE', 'E17 6SR', 'E17 6TD', 'E17 6ZA', 'E17 6ZN', 'E17 6ZS', 'E17 7AN', 'E17 7AR', 'E17 7AS', 'E17 7BF', 'E17 7DG', 'E17 7DN', 'E17 7DZ', 'E17 7EA', 'E17 7EB', 'E17 7EN', 'E17 7FD', 'E17 7FW', 'E17 7HF', 'E17 7HT', 'E17 7HW', 'E17 7JN', 'E17 7JR', 'E17 9QD', 'E17 9RG', 'E17 9SD', 'E17 9SE', 'E17 9SG', 'E4 8HB', 'E4 8YQ', 'E5 9HP', 'E5 9QG', 'E5 9QQ', 'E5 9SR', 'E9 7EG', 'E9 7HS', 'E9 7JP', 'E9 7JU', 'E9 7NA', 'EC1A 4AS', 'EC1A 4EE', 'EC1A 4HD', 'EC1A 4HT', 'EC1A 7AZ', 'EC1A 7BF', 'EC1A 7BL', 'EC1A 7BS', 'EC1A 7BX', 'EC1A 7ES', 'EC1A 9DS', 'EC1A 9DY', 'EC1A 9HY', 'EC1A 9JQ', 'EC1A 9JR', 'EC1A 9PN', 'EC1M 6JH', 'EC1M 6PB', 'EC1N 2HP', 'EC1N 2HT', 'EC1N 2JT', 'EC1N 2LE', 'EC1N 8RA', 'EC1Y 0AE', 'EC1Y 0RL', 'EC1Y 0SH', 'EC1Y 0UA', 'EC1Y 0UL', 'EC1Y 4SA', 'EC2A 2BA', 'EC2A 2JN', 'EC2A 2UT', 'EC2M 1JB', 'EC2M 2QT', 'EC2M 4AE', 'EC2M 4AN', 'EC2M 4LN', 'EC2M 4LX', 'EC2M 4NQ', 'EC2M 4NR', 'EC2M 4NS', 'EC2M 4QB', 'EC2M 4QP', 'EC2M 4RH', 'EC2M 4SQ', 'EC2M 4TP', 'EC2M 4UJ', 'EC2V 6AH', 'EC2V 6AU', 'EC2V 6AX', 'EC2V 6JP', 'EC2V 8AE', 'EC2Y 8AD', 'EC2Y 8AF', 'EC2Y 8AG', 'EC2Y 8BB', 'EC2Y 8BD', 'EC2Y 8BT', 'EC2Y 8DS', 'EC2Y 8EA', 'EC2Y 8EN', 'EC2Y 8NH', 'EC3A 7BX', 'EC3A 7DT', 'EC3A 7LN', 'EC3M 1DE', 'EC3M 1JA', 'EC3M 4AJ', 'EC3M 4BR', 'EC3M 4ST', 'EC3M 6BQ', 'EC3N 1AD', 'EC3N 1AP', 'EC3N 1BD', 'EC3N 1BJ', 'EC3N 1DT', 'EC3N 1DY', 'EC3N 1JJ', 'EC3N 1LH', 'EC3N 1LQ', 'EC3N 1RE', 'EC3N 2ER', 'EC3N 2EX', 'EC3N 2HS', 'EC3N 2HT', 'EC3N 2JY', 'EC3N 2LS', 'EC3N 2LY', 'EC3N 2NR', 'EC3N 2PX', 'EC3N 4AF', 'EC3N 4AL', 'EC3R 5AR', 'EC3R 6AJ', 'EC3R 6DL', 'EC3R 6EA', 'EC3R 8BT', 'EC3R 8DR', 'EC3R 8DT', 'EC4A 1BD', 'EC4A 1JP', 'EC4A 1JQ', 'EC4A 1JS', 'EC4A 1LR', 'EC4A 2BH', 'EC4A 2EA', 'EC4A 3BF', 'EC4A 3DE', 'EC4A 3DJ', 'EC4A 3TR', 'EC4M 5AB', 'EC4M 6XD', 'EC4M 6XH', 'EC4M 7AA', 'EC4M 7BP', 'EC4M 7DE', 'EC4M 7LQ', 'EC4M 7NG', 'EC4M 9AF', 'EC4M 9BE', 'EC4M 9BR', 'EC4M 9BW', 'EC4M 9DD', 'EC4M 9DJ', 'EC4M 9DN', 'EC4M 9HH', 'EC4N 1TX', 'EC4N 4SF', 'EC4N 4SJ', 'EC4N 4TZ', 'EC4N 4UA', 'EC4N 5AA', 'EC4R 0DR', 'EC4R 0EH', 'EC4R 1EE', 'EC4R 3AB', 'EC4V 2AF', 'EC4V 2AU', 'EC4V 2BH', 'EC4V 3DT', 'EC4V 3EH', 'EC4V 3RL', 'EC4V 4AB', 'EC4V 4AN', 'EC4V 4BJ', 'EC4V 4BY', 'EC4V 4HG', 'EC4V 4HN', 'EC4V 5BR', 'EC4V 5EP', 'EC4Y 1AA', 'EC4Y 1BT', 'EC4Y 8AX', 'EC4Y 8BH', 'EN1 4AB', 'EN1 4PP', 'EN2 0BG', 'EN2 0JD', 'EN2 0RA', 'EN2 6JS', 'EN2 6PD', 'EN2 6PU', 'EN2 6SP', 'EN2 6TR', 'EN2 6TS', 'EN2 6TZ', 'EN2 6UB', 'EN2 7AS', 'EN2 7HJ', 'EN2 7JP', 'EN2 7LE', 'EN2 7RW', 'EN2 8BP', 'EN2 8DW', 'EN2 8EL', 'EN2 8HF', 'EN2 8NH', 'EN2 8QN', 'EN3 5DJ', 'EN3 5DR', 'EN3 5DY', 'EN3 5HJ', 'EN3 5HS', 'EN3 5RB', 'EN3 5SN', 'EN3 6BY', 'EN3 6DQ', 'EN3 6GF', 'EN3 6GS', 'EN3 6GT', 'EN3 6SJ', 'EN3 6TG', 'EN3 6TY', 'EN3 7HX', 'EN5 3LN', 'HA1 3QZ', 'HA2 8RA', 'HA2 8RE', 'HA2 8RZ', 'HA3 0AZ', 'HA3 9QD', 'HA4 0DT', 'HA4 0FY', 'HA4 6AW', 'HA4 6AZ', 'HA4 6LD', 'HA4 6QH', 'HA4 6QQ', 'HA4 6RT', 'HA4 6SE', 'HA4 6TD', 'HA4 6TJ', 'HA4 6TU', 'HA4 6UB', 'HA4 7DT', 'HA4 7LP', 'HA4 7RF', 'HA4 8DG', 'HA4 8DU', 'HA4 8LG', 'HA4 8PD', 'HA4 8SX', 'HA4 9AF', 'HA4 9QJ', 'HA5 2EH', 'HA5 2QH', 'HA5 2QR', 'HA5 3SN', 'HA5 3UZ', 'HA6 2PF', 'HA7 3JB', 'HA7 3JL', 'HA8 0AD', 'HA8 0PH', 'HA8 0SH', 'HA8 0TD', 'HA8 0TF', 'HA8 5BF', 'HA8 5BH', 'HA8 5BQ', 'HA8 5DA', 'HA8 5DL', 'HA8 5JH', 'HA8 5LN', 'HA8 5PN', 'HA8 5TT', 'HA8 6EP', 'HA8 7AB', 'HA8 7DB', 'HA8 7JG', 'HA8 7LU', 'HA8 7NL', 'HA8 7NQ', 'HA8 7PU', 'HA8 7SJ', 'HA8 7TG', 'HA8 8FE', 'HA8 8GT', 'HA8 8HD', 'HA8 8JF', 'HA8 8JY', 'HA8 8RH', 'HA8 8SB', 'HA8 8TG', 'HA8 8TP', 'HA8 9AA', 'HA8 9AB', 'HA8 9AL', 'HA8 9LB', 'HA8 9LF', 'HA8 9NT', 'HA8 9PT', 'HA8 9RD', 'HA8 9SG', 'HA8 9TU', 'HA9 0BP', 'HA9 0BX', 'HA9 0DP', 'HA9 0FD', 'HA9 0FG', 'HA9 0FJ', 'HA9 0FP', 'HA9 0FU', 'HA9 0FW', 'HA9 0FZ', 'HA9 0GB', 'HA9 0GJ', 'HA9 0GQ', 'HA9 0HJ', 'HA9 0JT', 'HA9 0NP', 'HA9 0PQ', 'HA9 0QF', 'HA9 0RA', 'HA9 0RJ', 'HA9 0RS', 'HA9 0SJ', 'HA9 0UJ', 'HA9 0US', 'HA9 0YF', 'HA9 6AU', 'HA9 6BW', 'HA9 6JB', 'HA9 6JU', 'HA9 6LS', 'HA9 6ND', 'HA9 6SG', 'HA9 8AB', 'HA9 8AX', 'HA9 8BD', 'HA9 8DJ', 'HA9 8DU', 'HA9 8EA', 'HA9 8EB', 'HA9 8EE', 'HA9 8EQ', 'HA9 8HB', 'HA9 8HL', 'HA9 8HQ', 'HA9 8HY', 'HA9 8JR', 'HA9 8TS', 'HA9 9AA', 'IG1 1NG', 'IG1 1PB', 'IG1 1SU', 'IG1 2AT', 'IG1 2ER', 'IG1 2EU', 'IG1 2EY', 'IG1 2HF', 'IG1 2HH', 'IG1 2JX', 'IG1 2JY', 'IG1 2LF', 'IG1 2PJ', 'IG1 2QB', 'IG1 2RN', 'IG1 2TE', 'IG1 2UJ', 'IG1 2UY', 'IG1 2UZ', 'IG1 3AA', 'IG1 3AD', 'IG1 3AP', 'IG1 4EQ', 'IG1 4FD', 'IG1 4JF', 'IG1 4PG', 'IG1 4TS', 'IG11 7AH', 'IG11 7BA', 'IG11 7BE', 'IG11 7BT', 'IG11 7BZ', 'IG11 7FH', 'IG11 7FT', 'IG11 7HZ', 'IG11 7LG', 'IG11 7PW', 'IG11 7RQ', 'IG11 7RY', 'IG11 7ZN', 'IG11 7ZR', 'IG11 8AF', 'IG11 8BU', 'IG11 8DP', 'IG11 8FP', 'IG11 8GH', 'IG11 8JA', 'IG11 8JE', 'IG11 8JG', 'IG11 8LE', 'IG11 8PL', 'IG11 8PY', 'IG11 8QF', 'IG11 8QN', 'IG11 8QS', 'IG11 8RA', 'IG11 8TB', 'IG11 9AP', 'IG11 9DE', 'IG11 9DH', 'IG11 9JY', 'IG11 9LA', 'IG11 9TA', 'IG11 9UJ', 'IG11 9UN', 'IG3 8AQ', 'IG3 9BQ', 'IG3 9EE', 'IG3 9SX', 'IG6 2FN', 'IG7 4QT', 'KT1 1PY', 'KT2 5EQ', 'KT2 5LR', 'KT2 5NU', 'KT2 5PP', 'KT2 5QG', 'KT8 1TG', 'KT8 9BD', 'KT8 9BN', 'KT8 9BX', 'KT8 9BY', 'KT9 2NU', 'KT9 2QL', 'N10 1AF', 'N11 2AD', 'N11 2DL', 'N11 2DX', 'N11 2HB', 'N11 2NP', 'N11 2PB', 'N11 2PF', 'N11 2QD', 'N11 2QH', 'N11 2TJ', 'N11 2TQ', 'N13 6AN', 'N14 4UY', 'N15 4PG', 'N15 4PJ', 'N15 4PP', 'N15 4QA', 'N15 4QF', 'N15 4QJ', 'N15 4QN', 'N15 4QQ', 'N15 4QR', 'N15 6BF', 'N15 6LL', 'N15 6US', 'N17 7LA', 'N17 9PJ', 'N17 9PN', 'N17 9PQ', 'N17 9PW', 'N17 9QA', 'N18 1EU', 'N18 1SJ', 'N18 2BA', 'N18 2ED', 'N18 2JZ', 'N18 2LB', 'N18 2ND', 'N18 2NS', 'N18 2RL', 'N18 2SB', 'N18 2TG', 'N18 2TH', 'N18 2TN', 'N21 1AT', 'N21 1RZ', 'N22 5AJ', 'N22 5AU', 'N22 5EG', 'N22 5ET', 'N22 5HL', 'N22 5HN', 'N22 5JD', 'N22 5LY', 'N22 5QJ', 'N22 5RH', 'N22 5SJ', 'N22 5SL', 'N22 5SN', 'N22 5TL', 'N22 7DD', 'N22 8BU', 'N22 8DN', 'N22 8DZ', 'N22 8EB', 'N22 8HB', 'N22 8HS', 'N22 8HU', 'N22 8JJ', 'N22 8JR', 'N22 8JT', 'N22 8LX', 'N22 8NG', 'N22 8PL', 'N22 8PP', 'N22 8PW', 'N22 8XU', 'N22 8YD', 'N22 8YE', 'N22 8YG', 'N22 8YQ', 'N22 8YR', 'N22 8YS', 'N22 8YX', 'N4 1BY', 'N4 1HH', 'N4 1SN', 'N4 1SY', 'N4 2SH', 'N4 2TG', 'N4 2TR', 'N4 2TY', 'N9 0RB', 'N9 0RU', 'N9 8JE', 'N9 8JH', 'N9 8LJ', 'N9 8RB', 'NW10 0AL', 'NW10 0AW', 'NW10 0AY', 'NW10 0EB', 'NW10 0EX', 'NW10 0JA', 'NW10 0UR', 'NW10 1SY', 'NW10 4XA', 'NW10 5AZ', 'NW10 5BR', 'NW10 5EP', 'NW10 5ER', 'NW10 6AB', 'NW10 6AH', 'NW10 6AL', 'NW10 6AP', 'NW10 6BL', 'NW10 6BU', 'NW10 6DR', 'NW10 6DX', 'NW10 6ED', 'NW10 6FG', 'NW10 6QE', 'NW10 6RA', 'NW10 6TT', 'NW10 6UE', 'NW3 7HN', 'NW7 3DS', 'NW7 3HG', 'NW7 3JW', 'NW7 3NA', 'NW7 3PX', 'NW7 3QA', 'NW7 3RT', 'NW7 3TA', 'NW9 0DW', 'NW9 0FD', 'NW9 0FH', 'NW9 0JA', 'NW9 0JF', 'NW9 0LT', 'NW9 0NE', 'NW9 0NH', 'NW9 0PD', 'NW9 0QN', 'NW9 0SR', 'NW9 0UA', 'NW9 0UR', 'NW9 7NL', 'NW9 7NR', 'NW9 8AA', 'NW9 8DE', 'NW9 8DG', 'NW9 8EW', 'NW9 8LA', 'NW9 8LT', 'NW9 8PJ', 'NW9 8SA', 'NW9 8XT', 'NW9 8YG', 'NW9 9AJ', 'NW9 9AY', 'NW9 9BD', 'NW9 9BP', 'NW9 9BT', 'NW9 9BW', 'NW9 9TE', 'RM1 1AH', 'RM1 1EF', 'RM1 1JJ', 'RM1 1PL', 'RM1 1QL', 'RM1 2DE', 'RM1 3JS', 'RM1 3JT', 'RM1 3PJ', 'RM1 4DG', 'RM1 4LP', 'RM10 8BU', 'RM11 3UJ', 'RM12 4TN', 'RM13 8TE', 'RM13 9BJ', 'RM13 9DS', 'RM14 1QZ', 'RM14 3QA', 'RM4 1QJ', 'RM7 0AA', 'RM7 0BH', 'RM7 0EJ', 'RM7 0FQ', 'RM7 0JP', 'RM7 0LP', 'RM7 0NA', 'RM7 0NB', 'RM7 0NJ', 'RM7 0NP', 'RM7 0QP', 'RM7 0QR', 'RM7 0QS', 'RM7 0SB', 'RM7 0YQ', 'RM7 7AP', 'RM7 7DP', 'RM7 7DR', 'RM7 7DS', 'RM7 7HR', 'RM7 8BE', 'RM7 8DT', 'RM7 9AA', 'RM7 9DQ', 'RM7 9LT', 'RM8 1XY', 'SE10 8AZ', 'SE10 8BG', 'SE10 8BN', 'SE10 8DA', 'SE10 8DJ', 'SE10 8DZ', 'SE10 8EX', 'SE10 8FF', 'SE10 8FR', 'SE10 8GT', 'SE10 8HR', 'SE10 8JA', 'SE10 8JR', 'SE10 8JY', 'SE10 8LF', 'SE10 8LL', 'SE10 8LP', 'SE10 8NB', 'SE10 8NT', 'SE10 8NW', 'SE10 8PP', 'SE10 8QP', 'SE10 8QS', 'SE10 8SE', 'SE10 8SY', 'SE10 8UG', 'SE10 8UH', 'SE10 8UN', 'SE10 8UP', 'SE10 8UQ', 'SE10 8UR', 'SE10 9BY', 'SE10 9DH', 'SE10 9EB', 'SE10 9FP', 'SE10 9HG', 'SE10 9JP', 'SE10 9JT', 'SE10 9JU', 'SE10 9QB', 'SE10 9QF', 'SE10 9RA', 'SE10 9RB', 'SE10 9RH', 'SE10 9RN', 'SE12 8DL', 'SE12 9LQ', 'SE13 7LS', 'SE13 7QX', 'SE13 7QZ', 'SE13 7RQ', 'SE15 4AA', 'SE15 4AE', 'SE15 4AH', 'SE15 4AN', 'SE15 4AR', 'SE15 4BQ', 'SE15 4BY', 'SE15 4DB', 'SE15 4DE', 'SE15 4DH', 'SE15 4DX', 'SE15 4EA', 'SE15 4EB', 'SE15 4EQ', 'SE15 4HP', 'SE15 4HU', 'SE15 4JB', 'SE15 4JJ', 'SE15 4JP', 'SE15 4JX', 'SE15 4LA', 'SE15 4LB', 'SE15 4LL', 'SE15 4LN', 'SE15 4NZ', 'SE15 4PA', 'SE15 4PT', 'SE15 4PU', 'SE15 4RB', 'SE15 4SH', 'SE16 2NZ', 'SE16 2PJ', 'SE16 7AF', 'SE16 7DR', 'SE16 7FQ', 'SE18 5DA', 'SE18 6AR', 'SE18 6BA', 'SE18 6BU', 'SE18 6BZ', 'SE18 6DS', 'SE18 6EB', 'SE18 6EF', 'SE18 6EP', 'SE18 6FL', 'SE18 6FR', 'SE18 6GD', 'SE18 6GE', 'SE18 6GH', 'SE18 6HB', 'SE18 6HG', 'SE18 6HN', 'SE18 6JW', 'SE18 6LA', 'SE18 6LH', 'SE18 6LU', 'SE18 6NF', 'SE18 6NX', 'SE18 6PA', 'SE18 6PN', 'SE18 6QJ', 'SE18 6QR', 'SE18 6QT', 'SE18 6QU', 'SE18 6QW', 'SE18 6RB', 'SE18 6RE', 'SE18 6SE', 'SE18 6SN', 'SE18 6ST', 'SE18 6TD', 'SE18 6TL', 'SE18 6TQ', 'SE18 6TT', 'SE18 6UA', 'SE18 6XB', 'SE18 6XD', 'SE18 6ZE', 'SE18 6ZS', 'SE18 7BB', 'SE18 7BE', 'SE18 7JD', 'SE19 1DP', 'SE19 1DT', 'SE19 1HA', 'SE19 1HB', 'SE19 1LG', 'SE19 1LN', 'SE19 1LS', 'SE19 1LW', 'SE19 1NU', 'SE19 1NY', 'SE19 1QG', 'SE19 1QR', 'SE19 1SR', 'SE19 1ST', 'SE19 1TJ', 'SE19 1UN', 'SE19 1XG', 'SE19 1XQ', 'SE2 9TJ', 'SE2 9UX', 'SE21 8AF', 'SE22 8HG', 'SE26 6NX', 'SE26 6XQ', 'SE28 0BN', 'SE28 0BZ', 'SE28 0EE', 'SE28 0EP', 'SE28 0EQ', 'SE28 0GA', 'SE28 0GF', 'SE28 0GP', 'SE28 0GQ', 'SE28 0HL', 'SE28 0HT', 'SE28 0HZ', 'SE28 0JA', 'SE28 0LU', 'SE28 0NB', 'SE28 0NE', 'SE28 0NQ', 'SE28 8EU', 'SE28 8NE', 'SE28 8NQ', 'SE28 8NZ', 'SE28 8QE', 'SE28 8QF', 'SE28 8QL', 'SE28 8QR', 'SE28 8QZ', 'SE28 8SQ', 'SE8 3AT', 'SE8 3AY', 'SE8 3BP', 'SE8 3DD', 'SE8 3DF', 'SE8 3DH', 'SE8 3EH', 'SE8 3EY', 'SE8 3FZ', 'SE8 3GE', 'SE8 3HA', 'SE8 3HB', 'SE8 3HJ', 'SE8 3JU', 'SE8 3PA', 'SE8 3PP', 'SE8 3PW', 'SE8 3QD', 'SE8 3QP', 'SE8 3QZ', 'SE8 3RG', 'SE8 5AZ', 'SE8 5BE', 'SE8 5DF', 'SE8 5DG', 'SE8 5DH', 'SE8 5DS', 'SE8 5DX', 'SE8 5ER', 'SE8 5EX', 'SE8 5FT', 'SE8 5FU', 'SE8 5RY', 'SE8 5RZ', 'SE8 5SF', 'SE9 4DL', 'SE9 4NP', 'SE9 4QS', 'SM1 2AU', 'SM2 5LY', 'SM2 6FD', 'SM2 6SX', 'SM2 7DU', 'SM2 7PD', 'SM3 8AH', 'SM3 8DD', 'SM3 8DR', 'SM3 8SH', 'SM3 9DR', 'SM3 9HX', 'SM3 9WS', 'SM7 1RD', 'SW11 4BE', 'SW11 4DE', 'SW11 4FX', 'SW11 7AW', 'SW11 7AX', 'SW11 7BA', 'SW11 7BD', 'SW11 7BN', 'SW11 7BT', 'SW11 7DN', 'SW11 7EF', 'SW11 7US', 'SW11 8AB', 'SW11 8AE', 'SW11 8AL', 'SW11 8AW', 'SW11 8BP', 'SW11 8BY', 'SW11 8DU', 'SW11 8EG', 'SW11 8EY', 'SW11 8NE', 'SW11 8NS', 'SW11 8NT', 'SW11 8NU', 'SW11 8NW', 'SW11 8NY', 'SW11 8PP', 'SW11 8QQ', 'SW13 8DL', 'SW13 8DP', 'SW13 9BS', 'SW13 9BX', 'SW13 9EA', 'SW13 9EB', 'SW13 9JF', 'SW13 9JP', 'SW13 9JQ', 'SW13 9JT', 'SW15 1AH', 'SW15 1AY', 'SW15 1BB', 'SW15 1BE', 'SW15 1BP', 'SW15 1DG', 'SW15 1DU', 'SW15 1HB', 'SW15 1HJ', 'SW15 1JD', 'SW15 1JN', 'SW15 1JT', 'SW15 1JU', 'SW15 1LN', 'SW15 1LU', 'SW15 1LY', 'SW15 1LZ', 'SW15 1NU', 'SW15 1PL', 'SW15 1PQ', 'SW15 1QB', 'SW15 1QF', 'SW15 1QG', 'SW15 1RS', 'SW15 1SL', 'SW15 1SP', 'SW15 1UA', 'SW15 2AE', 'SW15 2AY', 'SW15 2BG', 'SW15 2DP', 'SW15 2DS', 'SW15 2DZ', 'SW15 2EG', 'SW15 2JZ', 'SW15 2LA', 'SW15 2LL', 'SW15 2LW', 'SW15 2NG', 'SW15 2NL', 'SW15 2PE', 'SW15 2PG', 'SW15 2PQ', 'SW15 2PS', 'SW15 2QA', 'SW15 2QD', 'SW15 2QN', 'SW15 2SL', 'SW15 2SZ', 'SW15 2TL', 'SW15 5HD', 'SW15 5JH', 'SW15 5LF', 'SW15 5LQ', 'SW15 5QR', 'SW15 5RQ', 'SW15 5RS', 'SW15 6AE', 'SW15 6HY', 'SW15 6JF', 'SW15 6JW', 'SW15 6TG', 'SW18 1FU', 'SW18 1FZ', 'SW18 1GE', 'SW18 1GN', 'SW18 1HB', 'SW18 1HG', 'SW18 1HP', 'SW18 1LP', 'SW18 1LR', 'SW18 1NJ', 'SW18 1NN', 'SW18 1NP', 'SW18 1NW', 'SW18 1PF', 'SW18 1PR', 'SW18 1SE', 'SW18 1TU', 'SW18 1UT', 'SW2 3PX', 'SW4 6LY', 'SW6 6HH', 'SW6 6NU', 'SW6 6PF', 'SW6 6PR', 'SW8 2FQ', 'SW8 2LH', 'SW8 3EH', 'SW8 3NP', 'SW8 3NR', 'SW8 3TU', 'SW8 4AL', 'SW8 4AP', 'SW8 4AT', 'SW8 4BH', 'SW8 4BJ', 'SW8 4BL', 'SW8 4BT', 'SW8 4BU', 'SW8 4DA', 'SW8 4DD', 'SW8 4DL', 'SW8 4DS', 'SW8 4EJ', 'SW8 4EY', 'SW8 4FD', 'SW8 4HW', 'SW8 4JB', 'SW8 4JG', 'SW8 4JL', 'SW8 4JX', 'SW8 4LH', 'SW8 4LP', 'SW8 4NH', 'SW8 4RL', 'SW8 4TR', 'SW8 4XD', 'SW8 4XJ', 'SW8 4XS', 'SW8 5AL', 'SW8 5DE', 'SW8 5EE', 'SW8 5EH', 'SW8 5PD', 'SW8 5PH', 'TN14 7QB', 'TN16 2HN', 'TN16 2HW', 'TN16 2JA', 'TN16 2NL', 'TN16 2PB', 'TN16 3LW', 'TN16 3LZ', 'TN16 3TU', 'TW10 5HZ', 'TW12 1ES', 'TW14 0HS', 'TW14 8NU', 'TW3 3SL', 'TW4 5DF', 'TW4 5NU', 'TW6 2AP', 'TW6 2AQ', 'TW6 3FE', 'TW8 0AH', 'TW8 0AW', 'TW8 0BJ', 'TW8 0BN', 'TW8 0BQ', 'TW8 0BX', 'TW8 0DE', 'TW8 0DQ', 'TW8 0DU', 'TW8 0FB', 'TW8 0FS', 'TW8 0HE', 'TW8 0JL', 'TW8 0JQ', 'TW8 0LN', 'TW8 0LP', 'TW8 0NP', 'TW8 0NQ', 'TW8 0NT', 'TW8 0NU', 'TW8 0PF', 'TW8 0PG', 'TW8 0QE', 'TW8 0QH', 'TW8 0QJ', 'TW8 0QP', 'TW8 0QX', 'TW8 8BN', 'TW8 8BU', 'TW8 8DD', 'TW8 8EF', 'TW8 8EH', 'TW8 8ES', 'TW8 8EW', 'TW8 8EZ', 'TW8 8FR', 'TW8 8JA', 'TW8 8LB', 'TW8 8QU', 'TW8 9BQ', 'TW8 9BS', 'TW8 9GB', 'TW8 9GE', 'TW8 9LA', 'TW8 9LB', 'TW8 9LS', 'TW8 9LW', 'TW8 9LZ', 'TW8 9NS', 'TW8 9NX', 'TW8 9PD', 'TW8 9PE', 'TW8 9PF', 'TW8 9PR', 'TW8 9PX', 'TW8 9PZ', 'TW8 9QD', 'TW8 9QG', 'TW8 9QL', 'TW8 9QQ', 'TW8 9QX', 'TW8 9QY', 'TW8 9QZ', 'TW8 9RA', 'UB1 1BE', 'UB1 1EH', 'UB1 1EP', 'UB1 1PU', 'UB1 1RH', 'UB1 1SG', 'UB1 2AL', 'UB1 2AU', 'UB1 3AL', 'UB1 3AT', 'UB1 3AW', 'UB1 3AX', 'UB1 3BQ', 'UB1 3EY', 'UB1 3HY', 'UB10 0QX', 'UB10 8DQ', 'UB10 8EY', 'UB10 8FH', 'UB10 8FJ', 'UB10 8FL', 'UB10 8FR', 'UB10 8GA', 'UB10 8QZ', 'UB10 8SF', 'UB10 8TL', 'UB10 9BT', 'UB10 9LY', 'UB10 9PS', 'UB10 9QF', 'UB11 1AQ', 'UB2 4AH', 'UB2 4AW', 'UB2 4BQ', 'UB2 4DH', 'UB2 4JJ', 'UB2 5AX', 'UB2 5LA', 'UB2 5PE', 'UB2 5QG', 'UB2 5QP', 'UB2 5QW', 'UB3 1EF', 'UB3 2SP', 'UB3 2TN', 'UB3 5AH', 'UB3 5AP', 'UB3 5AW', 'UB3 5BD', 'UB3 5EW', 'UB3 5HR', 'UB3 5HY', 'UB3 5JA', 'UB3 5JB', 'UB3 5JF', 'UB3 5LP', 'UB3 5LR', 'UB3 5LT', 'UB3 5LY', 'UB3 5NL', 'UB5 4AY', 'UB5 4JF', 'UB5 4PN', 'UB5 4RH', 'UB5 4RT', 'UB5 4ST', 'UB5 5BW', 'UB5 5DE', 'UB5 5JT', 'UB5 5NP', 'UB5 5PY', 'UB5 6AJ', 'UB5 6AU', 'UB5 6BZ', 'UB5 6LD', 'UB5 6LF', 'UB5 6ND', 'UB6 0DZ', 'UB6 0EJ', 'UB6 0FP', 'UB6 0HS', 'UB6 0HW', 'UB6 0JP', 'UB6 0NX', 'UB6 7QJ', 'UB6 8NY', 'UB6 8PH', 'UB6 8PP', 'UB6 8PU', 'UB7 8HY', 'UB7 9AH', 'UB7 9AJ', 'UB7 9EW', 'UB7 9GQ', 'UB8 1AT', 'UB8 1JB', 'UB8 1JT', 'UB8 1PP', 'UB8 1RB', 'UB8 1SY', 'UB8 1SZ', 'UB8 1XT', 'UB8 2QX', 'UB8 2RH', 'UB8 2TP', 'UB8 3BZ', 'UB8 3DF', 'UB8 3DN', 'UB8 3EQ', 'UB8 3JS', 'UB8 3JX', 'UB8 3QJ', 'UB8 3UP', 'UB9 6JD', 'UB9 6PD', 'UB9 6PR', 'UB9 6RL', 'W10 6RD', 'W12 0AA', 'W12 0AJ', 'W12 0BJ', 'W12 0BS', 'W12 0BY', 'W12 0EZ', 'W12 0FD', 'W12 0HE', 'W12 0HG', 'W12 0HL', 'W12 0HN', 'W12 0HT', 'W12 0LH', 'W12 0LL', 'W12 0LS', 'W12 0NA', 'W12 0NG', 'W12 0NW', 'W12 0QD', 'W12 0QE', 'W12 0QS', 'W12 0RA', 'W12 0RS', 'W12 0SU', 'W12 0TH', 'W12 0UE', 'W12 7AG', 'W12 7AJ', 'W12 7AR', 'W12 7AT', 'W12 7BS', 'W12 7BZ', 'W12 7DF', 'W12 7EA', 'W12 7ED', 'W12 7FX', 'W12 7GE', 'W12 7GJ', 'W12 7LX', 'W12 7ND', 'W12 7NP', 'W12 7NQ', 'W12 7NX', 'W12 7NY', 'W12 7PA', 'W12 7PB', 'W12 7PG', 'W12 7PH', 'W12 7PT', 'W12 7QP', 'W12 7QS', 'W12 7QT', 'W12 7QX', 'W12 7RH', 'W12 9AE', 'W12 9AS', 'W12 9AT', 'W12 9BH', 'W12 9BN', 'W12 9BP', 'W12 9BW', 'W12 9BX', 'W12 9BY', 'W12 9DN', 'W12 9DR', 'W12 9DX', 'W12 9EE', 'W12 9EQ', 'W12 9HB', 'W12 9LA', 'W12 9LF', 'W12 9LG', 'W12 9LL', 'W12 9LU', 'W12 9LW', 'W12 9NB', 'W12 9QP', 'W12 9RJ', 'W12 9RL', 'W12 9RN', 'W12 9RP', 'W12 9RS', 'W12 9RY', 'W12 9SP', 'W12 9ST', 'W12 9SU', 'W12 9TB', 'W12 9UW', 'W13 8NB', 'W13 8PW', 'W13 8QH', 'W13 8RG', 'W13 8RQ', 'W13 9AP', 'W13 9AQ', 'W13 9AS', 'W13 9NS', 'W13 9QB', 'W13 9QL', 'W13 9RB', 'W13 9SJ', 'W3 6UG', 'W3 7BS', 'W3 7DH', 'W3 7DN', 'W3 7DW', 'W3 7DY', 'W3 7EJ', 'W3 7EU', 'W3 7GB', 'W3 7HE', 'W3 7HN', 'W3 7JD', 'W3 7JG', 'W3 7JL', 'W3 7JW', 'W3 7NF', 'W3 7RS', 'W3 7RX', 'W3 7SB', 'W3 7SE', 'W3 7SH', 'W3 7SL', 'W3 7TB', 'W3 7TD', 'W3 7TF', 'W3 7TG', 'W3 7TQ', 'W3 7TR', 'W3 7UD', 'W3 8LA', 'W3 8LN', 'W3 8LY', 'W4 1SP', 'W4 1SW', 'W4 1SY', 'W4 1TE', 'W4 1TS', 'W4 2ND', 'W4 2NL', 'W4 2PX', 'W4 2PZ', 'W4 2QH', 'W4 5EA', 'W4 5EF', 'W5 2AA', 'W5 2AR', 'W5 2AW', 'W5 2DB', 'W5 2DJ', 'W5 2DT', 'W5 2NP', 'W5 2NR', 'W5 2NT', 'W5 2PJ', 'W5 2PY', 'W5 2RJ', 'W5 2RL', 'W5 2RN', 'W5 2SJ', 'W5 2SY', 'W5 2UP', 'W5 2UU', 'W5 3JF', 'W5 3JH', 'W5 3JL', 'W5 3PP', 'W5 3SL', 'W5 3SQ', 'W5 3TU', 'W5 3UH', 'W5 3XJ', 'W5 3XP', 'W5 4AF', 'W5 4AU', 'W5 4BD', 'W5 4BS', 'W5 4BT', 'W5 4BY', 'W5 4DD', 'W5 4EA', 'W5 4EJ', 'W5 4ER', 'W5 4EU', 'W5 4HL', 'W5 4JA', 'W5 4JB', 'W5 4JH', 'W5 4JP', 'W5 4JW', 'W5 4JY', 'W5 4LD', 'W5 4LQ', 'W5 4NG', 'W5 4QB', 'W5 4QL', 'W5 4RP', 'W5 4RW', 'W5 4SH', 'W5 4SL', 'W5 4SP', 'W5 4SS', 'W5 4TD', 'W5 4TJ', 'W5 4TR', 'W5 4TT', 'W5 4UB', 'W5 4UD', 'W5 4UJ', 'W5 4UL', 'W5 4XL', 'W5 4XR', 'W5 5AS', 'W5 5BJ', 'W5 5BX', 'W5 5BY', 'W5 5DA', 'W5 5EF', 'W5 5HA', 'W5 5HE', 'W5 5HS', 'W5 5HU', 'W5 5HX', 'W5 5JB', 'W5 5JD', 'W5 5LH', 'W5 5LL', 'W5 5LS', 'W5 5NH', 'W5 5NS', 'W5 5NY', 'W5 5PA', 'W5 5PD', 'W5 5PH', 'W5 5QE', 'W5 5QN', 'W5 5QS', 'W5 5RA', 'W5 5RJ', 'W5 5RP', 'W5 5SL', 'W5 5TL', 'W6 0LF', 'W6 0RR', 'W6 0SB', 'W6 0SP', 'W6 0SS', 'W6 0SY', 'W6 0TQ', 'W6 0TT', 'W6 0TU', 'W6 0TW', 'W6 0UU', 'W6 0UZ', 'W6 0WZ', 'W6 0XF', 'W6 0XJ', 'W6 0XL', 'W6 0XS', 'W6 0XY', 'W6 9AA', 'W6 9AJ', 'W6 9AY', 'W6 9BB', 'W6 9BE', 'W6 9BQ', 'W6 9NH', 'W6 9NP', 'W6 9TR', 'W6 9TX', 'W6 9UD', 'WC2A 1AL', 'WC2A 1JA', 'WC2A 1LB', 'WC2A 1LF'])

In [34]:
#Looking at the list of London broughs where suburb name is missing. 
df_missing.groupby(['London_borough']).groups.keys()

dict_keys(['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'City of London', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth'])

The first step is to identify smaller broughs where individual suburb profiles are likely to be similar. 'City of London' is one such borough which covers mostly the financial district and is centrally located. So we will use the borough as a proxy for suburbs here

In [35]:
df_missing.isna().sum()

id                           0
name                         0
neighborhood_overview        0
London_borough               0
latitude                     0
longitude                    0
minimum_nights               0
property_type                0
room_type                    0
price                        0
review_scores_location       0
suburb                    2619
postcode                    13
dtype: int64

In [36]:
#Creating a separate df for rows with missing postcode to impute them manually

df_missing_pc= df_missing[(df_missing['postcode'].isna())]

In [37]:
#dropping the missing rows from the existing dataframe
df_missing = df_missing.dropna(subset=['postcode'])

In [38]:
df_missing_pc.head(15)

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
131,5388341,Eclectic London home great location,"We might be biased, but we think we live in th...",City of London,51.514760,-0.076120,3,Entire rental unit,Entire home/apt,$98.00,4.500000,NaN,NaN
143,5989171,My spare room is for rent,The local shopping street is Askew Road. Over ...,Hammersmith and Fulham,51.501810,-0.248570,1,Private room in condo,Private room,$53.00,4.770000,NaN,NaN
482,16276053,Spacious Double Room in Zone 1 near Shoreditch,Next to trendy Brick Lane and Spittafields Market,City of London,51.514800,-0.076370,4,Private room in rental unit,Private room,$40.00,4.820000,NaN,NaN
900,25884581,Spacious room king-size bed,"It is a safe neighbourhood, with people from d...",Brent,51.597330,-0.267510,1,Private room in home,Private room,$40.00,5.000000,NaN,NaN
973,28237545,Lovely Garden View - Close to City Center,Zone 4 Burnt Oak & Zone 5 Edgware ( Northern L...,Barnet,51.610230,-0.270340,3,Private room in home,Private room,$26.00,5.000000,NaN,NaN
1358,38150425,Single room-Comfort-Shared Bathroom-Tiny Room,Apple House Guest London Heathrow is situated ...,Hillingdon,51.483840,-0.443380,1,Private room in guesthouse,Private room,$62.00,4.800000,NaN,NaN
1360,38150552,En suite Double Room 5min from Heathrow Airport,Apple House Guest London Heathrow is situated ...,Hillingdon,51.483970,-0.442980,1,Private room in guesthouse,Private room,$69.00,3.000000,NaN,NaN
1903,53544785,Lovely modern 2 bed flat in the heart of Woolwich,peaceful,Greenwich,51.487960,0.067290,2,Entire condo,Entire home/apt,$129.00,4.685111,NaN,NaN
2144,644804400072872785,Bed and breakfast in leafy Bounds Green,A Quiet neighbourhood away from the hustle and...,Haringey,51.603942,-0.126679,1,Private room in bed and breakfast,Private room,$45.00,4.710000,NaN,NaN
2146,645440879081312934,Nice room near London Designer Outlet,Aside from the the iconic stadium and the SSE ...,Brent,51.558570,-0.280010,2,Private room in rental unit,Private room,"$1,570.00",4.632068,NaN,NaN
2208,659428748704825984,★NEW BUILD★1Bed Studio Apart Private GYM /NETF...,Home to London's most iconic concert and event...,Brent,51.562199,-0.279161,3,Entire serviced apartment,Entire home/apt,$170.00,4.500000,NaN,NaN
2213,659279404634312107,Nice room near London Designer Outlet,Aside from the the iconic stadium and the SSE ...,Brent,51.558550,-0.279980,2,Private room in rental unit,Private room,"$1,570.00",4.632068,NaN,NaN
2562,757255669547847566,New Central | 1Bed Studio Apart | Gym! & Netflix!,Home to London's most iconic concert and event...,Brent,51.562118,-0.279651,4,Entire serviced apartment,Entire home/apt,$148.00,4.632068,NaN,NaN

In [39]:
#Looking at the location of the above properties and their location description, it will be fair to allocate the borough name as the suburb for the purposes of our analysis
df_missing_pc['suburb']=df_missing_pc['London_borough']

In [40]:
#dropping the postcode column(due to its null values) and checking the dataframe after imputing the suburb name
#this dataframe will be combined with the df_missing dataframe after the df_missing dataframe has its suburbs filled in
df_missing_pc.drop(['postcode'],axis=1, inplace=True)
df_missing_pc.head()

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb
131,5388341,Eclectic London home great location,"We might be biased, but we think we live in th...",City of London,51.51476,-0.07612,3,Entire rental unit,Entire home/apt,$98.00,4.50,City of London
143,5989171,My spare room is for rent,The local shopping street is Askew Road. Over ...,Hammersmith and Fulham,51.50181,-0.24857,1,Private room in condo,Private room,$53.00,4.77,Hammersmith and Fulham
482,16276053,Spacious Double Room in Zone 1 near Shoreditch,Next to trendy Brick Lane and Spittafields Market,City of London,51.51480,-0.07637,4,Private room in rental unit,Private room,$40.00,4.82,City of London
900,25884581,Spacious room king-size bed,"It is a safe neighbourhood, with people from d...",Brent,51.59733,-0.26751,1,Private room in home,Private room,$40.00,5.00,Brent
973,28237545,Lovely Garden View - Close to City Center,Zone 4 Burnt Oak & Zone 5 Edgware ( Northern L...,Barnet,51.61023,-0.27034,3,Private room in home,Private room,$26.00,5.00,Barnet

In [41]:
df_missing.loc[df_missing['London_borough'] == 'City of London', 'suburb'] = 'City of London'

In [42]:
# Applying suburb names for the first set of missing suburbs
suburb_prefix = {'BR2': 'Bromley', 'BR5': 'Orpington', 'BR6': 'Orpington', 'BR7': 'Chislehurst', 'CR0': 'Croydon', 'CR2':'South Croydon', 'CR5':'Coulsdon', 'DA7': 'Bexleyheath', 'DA14': 'Sidcup', 'E17 ': 'Walthamstow', 'E4': 'Walthamstow ', 'E5 ': 'Clapton', 'E12':'Wanstead' , 'E10': 'Wanstead', 'E16': 'Newham', 'EN':'Enfield','EN2':'Enfield'}


for prefix, suburb in suburb_prefix.items():
    
    df_missing.loc[df_missing['postcode'].str.startswith(prefix + ' ',), 'suburb'] = suburb

In [43]:
# Applying suburb names for the second set of missing suburbs
suburb_prefix2 = {'W10': 'North Kensington', 'W12': "Shepherd's Bush", 'W13': 'West Ealing', 'W3': 'Acton', 'W4': 'Chiswick', 'W5':'Ealing', 'W6':'Hammersmith', 'WC2A': 'Holborn'}


for prefix, suburb in suburb_prefix2.items():
    df_missing.loc[df_missing['postcode'].str.startswith(prefix + ' '), 'suburb'] = suburb

In [44]:
# Applying suburb names for the third set of missing suburbs
suburb_prefix3 = {'N10': 'Muswell Hill', 'N11': 'Arnos Grove', 'N13': 'Palmers Green', 'N14': 'Tottenham', 'N15': 'Tottenham', 'N17': 'Tottenham', 'N18': 'Tottenham', 'N21': 'Grange Park', 'N22':'Wood Green', 'N4':'Finsbury Park', 'N9': 'Edmonton', 'NW10':'Harlesden', 'NW3': 'Belsize Park', 'NW7': 'Mill Lane', 'NW9': 'Colindale'}

for prefix, suburb in suburb_prefix3.items():
    df_missing.loc[df_missing['postcode'].str.startswith(prefix + ' '), 'suburb'] = suburb

In [45]:
# Applying suburb names for the fourth set of missing suburbs
suburb_prefix4 = {'SE10': 'Greenwich', 'SE15': 'Peckham', 'SE16': 'Bermondsey', 'SE18': 'Wandsworth', 'SE19': 'Crystal Palace', 'SE2': 'Abbey Wood', 'SE21': 'Dulwich', 'SE22': 'Dulwich', 'SE26':'Sydenham', 'SE28':'Thamesmead', 'SE8': 'Deptford', 'SE9':'Eltham', 'SM': 'Sutton', 'SW11': 'Battersea', 'SW13': 'Barnes','SW15': 'Putney','SW18': 'Wansworth','SW2': 'Brixton','SW2': 'Brixton','SW4': 'Clapham','SW6': 'Fulham','SW8': 'Battersea'}

for prefix, suburb in suburb_prefix4.items():
    df_missing.loc[df_missing['postcode'].str.startswith(prefix + ' '), 'suburb'] = suburb

In [46]:
#Checking remaining missing suburbs
df_missing.isna().sum()

id                          0
name                        0
neighborhood_overview       0
London_borough              0
latitude                    0
longitude                   0
minimum_nights              0
property_type               0
room_type                   0
price                       0
review_scores_location      0
suburb                    954
postcode                    0
dtype: int64

In [47]:
#looking at the details of the rows where suburb is missing in order to identify the most appropriate way to fill in the values
df_missing[(df_missing['suburb'].isna())]

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
0,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.534300,0.081780,2,Private room in rental unit,Private room,$69.00,4.440000,NaN,IG11 7RQ
3,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.406440,-0.335630,3,Entire serviced apartment,Entire home/apt,$170.00,4.940000,NaN,KT8 9BY
7,428716,"Clean, private spacious dble rm 4mins from sta...","Beautiful wall art, parks, tennis courts, lak...",Waltham Forest,51.587330,-0.003450,1,Private room in townhouse,Private room,$85.00,4.780000,NaN,E17 3TJ
9,447223,15mins frm Centr.London with garden,Market close-by - 3 days per week. Traditiona...,Havering,51.578660,0.169210,2,Entire home,Entire home/apt,$114.00,4.300000,NaN,RM7 7AP
14,590443,ILFORD - 2 DR (1 private bathr + 1 en-suite ba...,- All you need is within 5-10 minutes walk (su...,Redbridge,51.560970,0.076020,25,Entire rental unit,Entire home/apt,$48.00,4.440000,NaN,IG1 4EQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,772313840279032352,Two-bedroom apartment with terrace in Farrington,Farringdon is one of the most up-and-coming ne...,Islington,51.519124,-0.104363,1,Entire rental unit,Entire home/apt,$327.00,4.804420,NaN,EC1M 6PB
2611,775944550906085503,"Studio in Wembley, London",Studio located at a 15 mins walks from Wembley...,Brent,51.561716,-0.286860,3,Entire rental unit,Entire home/apt,$70.00,4.632068,NaN,HA9 8HB
2613,775953684576286413,"Private Studio in Wembley, London",Studio located at a 15 mins walks from Wembley...,Brent,51.561716,-0.286860,3,Entire rental unit,Entire home/apt,$50.00,4.632068,NaN,HA9 8HB
2614,776521441063993062,one bedroom and a couch.,Very quiet and friendly.,Barnet,51.610528,-0.276035,1,Private room in rental unit,Private room,$73.00,4.675242,NaN,HA8 9AB
2615,776668700186722169,Appartamento ad uso esclusivo,Tranquillo e ben collegato con il centro attra...,Waltham Forest,51.589243,-0.029610,1,Entire rental unit,Entire home/apt,$150.00,4.661732,NaN,E17 5BE

In [48]:
# Looking at the missing suburbs, majority of them are in the greater London area and fairly homogenous at a borough level. 
#We will therefore go ahead and use the borough name as a proxy for suburn name
df_missing['suburb'].fillna(df_missing['London_borough'], inplace=True)

In [49]:
df_missing.head()

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
0,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.53430,0.08178,2,Private room in rental unit,Private room,$69.00,4.44,Barking and Dagenham,IG11 7RQ
1,41445,2 Double bed apartment in quiet area North London,Quite area popular with families,Barnet,51.61492,-0.25632,4,Entire rental unit,Entire home/apt,$550.00,4.53,Mill Lane,NW7 3QA
2,318287,safe and spacious room in comfy family home,We are a cosmopolitan family in a lovely neigh...,Waltham Forest,51.61607,-0.02982,2,Private room in home,Private room,$29.00,4.45,Walthamstow,E4 8HB
3,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.40644,-0.33563,3,Entire serviced apartment,Entire home/apt,$170.00,4.94,Richmond upon Thames,KT8 9BY
4,343848,"Lovely double room in Oakwood, North London",It is a short walk to the local Sainsbury's su...,Enfield,51.65075,-0.11841,180,Private room in home,Private room,$41.00,4.61,Enfield,EN2 7JP

In [50]:
df_missing.isna().sum()

id                        0
name                      0
neighborhood_overview     0
London_borough            0
latitude                  0
longitude                 0
minimum_nights            0
property_type             0
room_type                 0
price                     0
review_scores_location    0
suburb                    0
postcode                  0
dtype: int64

In [51]:
#Concatenating df_missing (with completed suburbs) and df_missing_pc(completed suburbs for rows which had missing postcode)
df_suburbc=pd.concat([df_missing,df_missing_pc], axis=0)

In [52]:
df_suburbc

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb,postcode
0,198258,Penthouse Living in East London,"I live in Barking town centre, at one time the...",Barking and Dagenham,51.534300,0.081780,2,Private room in rental unit,Private room,$69.00,4.440000,Barking and Dagenham,IG11 7RQ
1,41445,2 Double bed apartment in quiet area North London,Quite area popular with families,Barnet,51.614920,-0.256320,4,Entire rental unit,Entire home/apt,$550.00,4.530000,Mill Lane,NW7 3QA
2,318287,safe and spacious room in comfy family home,We are a cosmopolitan family in a lovely neigh...,Waltham Forest,51.616070,-0.029820,2,Private room in home,Private room,$29.00,4.450000,Walthamstow,E4 8HB
3,81080,Luxury Self contained Studio Apt.,Lots of local history - you are right on the d...,Richmond upon Thames,51.406440,-0.335630,3,Entire serviced apartment,Entire home/apt,$170.00,4.940000,Richmond upon Thames,KT8 9BY
4,343848,"Lovely double room in Oakwood, North London",It is a short walk to the local Sainsbury's su...,Enfield,51.650750,-0.118410,180,Private room in home,Private room,$41.00,4.610000,Enfield,EN2 7JP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2144,644804400072872785,Bed and breakfast in leafy Bounds Green,A Quiet neighbourhood away from the hustle and...,Haringey,51.603942,-0.126679,1,Private room in bed and breakfast,Private room,$45.00,4.710000,Haringey,NaN
2146,645440879081312934,Nice room near London Designer Outlet,Aside from the the iconic stadium and the SSE ...,Brent,51.558570,-0.280010,2,Private room in rental unit,Private room,"$1,570.00",4.632068,Brent,NaN
2208,659428748704825984,★NEW BUILD★1Bed Studio Apart Private GYM /NETF...,Home to London's most iconic concert and event...,Brent,51.562199,-0.279161,3,Entire serviced apartment,Entire home/apt,$170.00,4.500000,Brent,NaN
2213,659279404634312107,Nice room near London Designer Outlet,Aside from the the iconic stadium and the SSE ...,Brent,51.558550,-0.279980,2,Private room in rental unit,Private room,"$1,570.00",4.632068,Brent,NaN
2562,757255669547847566,New Central | 1Bed Studio Apart | Gym! & Netflix!,Home to London's most iconic concert and event...,Brent,51.562118,-0.279651,4,Entire serviced apartment,Entire home/apt,$148.00,4.632068,Brent,NaN

In [53]:
df_suburbc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2619 entries, 0 to 2562
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2619 non-null   int64
 1   name                    2619 non-null   object
 2   neighborhood_overview   2619 non-null   object
 3   London_borough          2619 non-null   object
 4   latitude                2619 non-null   float64
 5   longitude               2619 non-null   float64
 6   minimum_nights          2619 non-null   int64
 7   property_type           2619 non-null   object
 8   room_type               2619 non-null   object
 9   price                   2619 non-null   object
 10  review_scores_location  2619 non-null   float64
 11  suburb                  2619 non-null   object
 12  postcode                2606 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 286.5+ KB

In [54]:
#dropping the postcode column as it is no longer required
df_suburbc.drop(['postcode'], axis=1, inplace=True)

In [55]:
df_suburbc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2619 entries, 0 to 2562
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2619 non-null   int64
 1   name                    2619 non-null   object
 2   neighborhood_overview   2619 non-null   object
 3   London_borough          2619 non-null   object
 4   latitude                2619 non-null   float64
 5   longitude               2619 non-null   float64
 6   minimum_nights          2619 non-null   int64
 7   property_type           2619 non-null   object
 8   room_type               2619 non-null   object
 9   price                   2619 non-null   object
 10  review_scores_location  2619 non-null   float64
 11  suburb                  2619 non-null   object
dtypes: float64(3), int64(2), object(7)
memory usage: 266.0+ KB

In [56]:
#pkl dataframe for all missing suburbs from the original dataframe
joblib.dump(df_suburbc,'../Data/df_missingsuburbsfilled.pkl',compress =9)

['../Data/df_missingsuburbsfilled.pkl']

In [71]:
#looking at the original dataframe before we went ahead with the imputation of missing values in the `suburbs` column
df=df=joblib.load('../Data/df_suburb.pkl')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  40605 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.0+ MB

In [73]:
#dropping rows that were missing `suburb` details, so we can concatenate with the version of the dataframe where the missing values have been filled in 
df2=df.dropna(axis=0, subset=['suburb'])

In [74]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  40605 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.0+ MB

In [61]:
# The original dataframe does not show any null values against suburb because it is likely an empty string. We will convert the blank strings to NaN and then drop these rows, so we can merge df_suburbc
df2['suburb'].replace('',np.nan, inplace=True)

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  37986 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.0+ MB

In [63]:
df3=df2.dropna(axis=0, subset=['suburb'])

In [64]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37986 entries, 0 to 71937
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      37986 non-null  int64
 1   name                    37986 non-null  object
 2   neighborhood_overview   37986 non-null  object
 3   London_borough          37986 non-null  object
 4   latitude                37986 non-null  float64
 5   longitude               37986 non-null  float64
 6   minimum_nights          37986 non-null  int64
 7   property_type           37986 non-null  object
 8   room_type               37986 non-null  object
 9   price                   37986 non-null  object
 10  review_scores_location  37986 non-null  float64
 11  suburb                  37986 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 3.8+ MB

In [65]:
#concatenating the two dataframes to get the final dataframe with all suburbs filled in
df4=pd.concat([df3,df_suburbc],axis=0)

In [66]:
df4.head()

,id,name,neighborhood_overview,London_borough,latitude,longitude,minimum_nights,property_type,room_type,price,review_scores_location,suburb
0,13913,Holiday London DB Room Let-on going,Finsbury Park is a friendly melting pot commun...,Islington,51.568610,-0.112700,1,Private room in rental unit,Private room,$79.00,4.71,Finsbury Park
1,15400,Bright Chelsea Apartment. Chelsea!,It is Chelsea.,Kensington and Chelsea,51.487800,-0.168130,10,Entire rental unit,Entire home/apt,$75.00,4.93,Chelsea
3,173082,The Residential Suite Above Gallery,"The neighbourhood ""Victoria Park Village"" is a...",Hackney,51.538254,-0.044086,2,Entire rental unit,Entire home/apt,$132.00,4.68,Homerton
4,42010,You Will Save Money Here,We have a unique cinema called the Phoenix whi...,Barnet,51.585900,-0.164340,4,Private room in home,Private room,$65.00,4.72,Hampstead Garden Suburb
5,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,"Location, location, location! You won't find b...",Westminster,51.521950,-0.140940,4,Entire rental unit,Entire home/apt,$425.00,4.88,Fitzrovia

In [68]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 2562
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      40605 non-null  int64
 1   name                    40605 non-null  object
 2   neighborhood_overview   40605 non-null  object
 3   London_borough          40605 non-null  object
 4   latitude                40605 non-null  float64
 5   longitude               40605 non-null  float64
 6   minimum_nights          40605 non-null  int64
 7   property_type           40605 non-null  object
 8   room_type               40605 non-null  object
 9   price                   40605 non-null  object
 10  review_scores_location  40605 non-null  float64
 11  suburb                  40605 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.0+ MB

In [69]:
joblib.dump(df4,'../Data/df_suburb_clean.pkl',compress =9)

['../Data/df_suburb_clean.pkl']

In [70]:
df4.to_csv('../Data/df_suburb_clean.csv')

#### Summary Recap

The data pre-processing step was a critical part of the project due to the nature of the data required - `suburb` level data being key and the dataset did not come pre-populated with this.<br>

The key steps in the data-sourcing and data pre-processing stage were:

1) Identifying the right dataset from the inside airbnb source -Having evaluated a few different datasets, we finalized on the dataset used here as it provided a detailed level of data on the properties listed, key being `neighborhood_overview` which provides a short description of the neighborhood where the property is located <br>
2) The next step was to narrow down the dataset to include only relevant columns. As the purpose of the project was to identify neighborhood profiles and recommend properties accordingly, the key columns retained in the final dataset were related to the property location <br>
3) Imputing missing values for `name` and `review_scores_location` based on the property details that we could glean from the other columns - e.g. `name` details were completed by adding details from the property location and neighborhood overview and `review_scores_location` were filled in with average review scores for the corresponding London borough <br>
4) Reverse geocoding to map `suburb` names as per latitude and longitude - We used 'nominatim open street' to request for suburb names based on the property location. It returned values for all 40,605 listings barring 2619 of them where nominatim had no suburb details available
5) Inputing missing values for `suburbs` by requesting for `postcode` data and then manually mapping suburbs based on outer postcodes - The process for imputing missing `suburb` values was slightly time-consuming as we first went down the route of requesting for 'postcode' information which were then mapped to 'ward' level data for the 'City of London' borough as a test. However, the 'ward' level data was too narrow for the purposes of our project where the end objective is to profile and recommend broad 'suburbs' to the airbnb guests. We therefore changed the approach and looked at 'outer' level postcode e.g. BR2 in the postcode BR2 6AN to establish the suburbs against each postcode and map them against the relevant listing. For certain boroughs which are closely knit (e.g. City of London) or outer boroughs where the suburbs within are broadly similar (e.g. Richmond) we used the borough name as the `suburb` for the purposes of this project

_____________________________________________________________________